{%load static%}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/mercadobloqueado_logo.png'%}" alt="Logo do mercado bloqueado" />    
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{%url 'buscar'%}">
                    <input class="busca__input" type="text" placeholder="O que você procura?" name="buscar">
                    <button type="submit">
                        <img class="busca__icone" src="{% static '/assets/ícones/1x/search3.png'%}" alt="ícone de search">
                    </button>
                </form>
            </div>
        </div>
        <div>
            <a href="{%url 'index' %}">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/home1.png'%}" alt="ícone de home">
            </a>
        </div>        
        <div>
            <a href="{%url 'usuarios'%}">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/user2.png'%}" alt="ícone de usuarios">
            </a>
        </div>
        <div>
            <a href="{%url 'cadastro'%}">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/carrinho.png'%}" alt="ícone de search">
            </a>
        </div>     
        <div>
            <a href="{% url 'logout' %}">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/logout1.png'%}" alt="ícone de logout">
            </a>
        </div>            
    </header>
    
