{%extends 'galeria/base.html'%}
{%load static%}
{%block content%}
<div class="teladivcentral">
            <section class="galeria" style="margin-left: 5em">
                <form action="{%url 'cadastro'%}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {%for field in form.visible_fields%}
                            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                                <label style="color:#D9D9D9; margin-bottom: 5px;" for="{{field.id_for_label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {%if error != Null%}
                                {%for error in field.erros%}
                                    <div class="alert alert-danger">
                                        {{error}}
                                    <div>
                                {%endfor%}
                            {%endif %}
                        {%endfor%}
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Cadastrar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
    {%endblock%}