{%extends 'galeria/base.html'%}
{%load static%}
{%block content%}
<div class="teladivcentral">
        <section class="galeria">
            <form action="{%url 'login'%}" method="POST">
            {% csrf_token %}
                <div class="row">
                    {%for field in form.visible_fields%}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;" align="left">
                            <label style="color:#000000; margin-bottom: 5px;" for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </div>
                    {%endfor%}
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Logar</button>
                </div>
            </form>
        </section>
    </div>

<br>

{%endblock%}