{%extends 'galeria/base.html'%}
{%load static%}
{%block content%}
<main class="principal">
    <section class="conteudo">
        <section class="galeria">
            <div class="cards">
                <h2 class="cards__titulo">Meus anúncios</h2>
                <ul class="cards__lista">
                    {%for anuncio in anuncios%}        
                        <li class="card">
                            <a href="{%url 'visualizar_anuncio' anuncio.id %}">
                            {%if anuncio.foto == null or anuncio.foto is None %}
                                <img class="card__imagem" src="{% static '/assets/imagens/galeria/semfoto.png'%}" alt="foto">
                            {%else%}
                                <img class="card__imagem" src="{{anuncio.foto.url}}" alt="foto">
                            {%endif%}
                            </a>        
                            <div class="card__info">
                                <p class="card__titulo"><font color="black">{{anuncio.nome}}</font></p>
                                <div class="card__texto">
                                    <p class="card__descricao"><font color="black">{{anuncio.legenda}}</font></p>
                                    <span>
                                        <img src="{% static '/assets/ícones/1x/favorite_outline.png'%}" alt="ícone de coração">
                                    </span>
                                </div>
                            </div>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </section>
    </section>
</main>
</div>
{%endblock%}