{%extends 'galeria/base.html'%}
{%load static%}
{%block content%}
<section class="galeria">
    <div class="cards">
        <h2 class="cards__titulo">Navegue pela galeria</h2>
        <ul class="cards__lista">
            {%if cards%}
            {%for fotografia in cards%}        
            <li class="card">
                <a href="{%url 'imagem' fotografia.id %}">
                    {%if fotografia.foto == null or fotografia.foto is None %}
                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/semfoto.png'%}" alt="foto">
                    {%else%}
                        <img class="card__imagem" src="{{fotografia.foto.url}}" alt="foto">
                    {%endif%}
                </a>
                <span class="card__tag">Estrelas</span>
                <div class="card__info">
                    <p class="card__titulo">{{fotografia.nome}}</p>
                    <div class="card__texto">
                        <p class="card__descricao">{{fotografia.legenda}}</p>
                        <span>
                            <img src="{% static '/assets/ícones/1x/favorite_outline.png'%}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
            {%endfor%}
            {%else%}
                <div class="imagem__texto">
                    <p>Fotografias não encontradas</p>
                </div>
            {%endif%}
         </ul>
    </div>
</section>
</section>
</main>
</div>
{%endblock%}